{% extends 'base.html' %}

{% block head %}
<title>Community Events</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Community Events</h1>

    {% if current_user.is_authenticated %}
        <p>You are logged in as {{ current_user.username }} (<a href="{{ url_for('logout') }}">Logout</a>)</p>
        <br>

        <form action="/" id="eventForm" method="POST">
            <label for="title">Title:</label>
            <input type="text" name="title" required>
            <br>
            <label for="content">Description:</label>
            <input type="text" name="content">
            <br><br>
            
            <label for="year">Year:</label>
            <select id="year" name="year" required>
                <option value="">Select</option>
                <script>
                    for (let i = new Date().getFullYear() + 3; i >= new Date().getFullYear(); i--){
                        document.write(`<option value="${i}">${i}</option>`);
                    }

                </script>
            </select>

            <label for="month">Month:</label>
            <select id="month" name="month" required>
                <option value="">Select</option>
                <script>
                    for (let i = 0; i < 12; i++){
                        const date = new Date(2024, i);
                        document.write(`<option value="${i.toString().padStart(2, '0')}">${date.toLocaleString('default', { month: 'long' })}</option>`);
                    }
                </script>
            </select>

            <label for="day">Day:</label>
            <select id="day" name="day" required>
                <option value="">Select</option>
                <script>
                    for (let i = 1; i < 32; i++){
                        document.write(`<option value="${i}">${i}</option>`)
                    }
                </script>
            </select>

            
            <label for="time">Time:</label>
            <select id="time" name="time" required>
                <option value="">Select</option>
                
                <script>
                    for (let i = 0; i < 24; i++) {
                        for (let j = 0; j <= 59; j++) {
                            const hour24 = i.toString().padStart(2, '0');
                            const min = j.toString().padStart(2, '0');
                            
                            let hour12 = i % 12 || 12;
                            const period = i < 12 ? 'AM' : 'PM';

                            const value = `${hour24}:${min}`; 
                            const display = `${hour12}:${min} ${period}`; 

                            document.write(`<option value="${value}">${display}</option>`);
                        }
                    }
                    
                </script>
            </select>
            <br><br>
            <label for="duration">Duration (HH:mm):</label>
            <input type="text" name="duration" required></input>
            <br><br>
            <p>Address:</p>
            <div class="autocomplete-container" id="autocomplete-container"></div>
            <!-- Hidden field to store the JSON data -->
            <input type="hidden" id="address-data" name="address-data">
            <br>
            <input type="submit" name="Add Event" value="Add Event">

            {% if wrong_format %}
                <p style="color:red">Please use HH:mm format for duration</p>
            {% endif %}
        </form>

    {% else %}
        <form action="{{ url_for('index') }}" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="text" name="password">
            <input type="submit" name="Login" value="Login">
        </form>
    {% endif %}
    {% if inv_msg %}
        <p style="color:red">Invalid username or password</p>
    {% endif %}
    <br><br>
    <table>
        {% if events %}
        <tr>
            <th>Event</th>
            <th>Description</th>
            <th>Author</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Duration</th>
            <th>Location</th>
            <th>Temperature</th>
            <th>Weather</th>
        </tr>
        {% endif %}
        {% for event in events %}
        <tr>
            <td class="event_title">{{event.title}}</td>
            <td class="event_content">{{event.content}}</td>
            <td>{{event.author_username}}</td>
            <td>{{event.start_date}}</td>
            <td>{{event.end_date}}</td>
            <td>{{event.end_date - event.start_date}}</td>
            <td>{{event.location}}</td>
            <td>{{event.temperature}} °F</td>
            <td>{{event.condition}}</td>
            {% if current_user.username == event.author_username %}
                <td>
                    <a href="/delete/{{event.id}}">Delete</a>
                    <br>
                    <a href="/update/{{event.id}}">Update</a>
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}
